.film_image {
  width: 500px;
  object-fit: contain;
}

.film_container {
  display: flex;
  width: 1500px;
  margin: 10px auto;
}

.film_card {
  width: 900px;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
  padding: 15px;
  /* overflow: hidden; */
}

.film_text {
  word-break: break-all;
}
