.filmCard {
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: white;
  padding: 25px;
  max-width: 600px;
  height: 400px;
  box-shadow: 3px 3px 5px grey;
}

.filmSidebar {
  display: flex;
}

.filmPoster {
  width: 200px;
  object-fit: contain;
}
