.header_container {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_button > button > span {
  color: white;
  font-weight: bold;
}

.header {
  box-shadow: 5px 5px 5px grey;
}

.header_button {
  border: 1px solid white;
  border-radius: 10px;
}

.header_button:hover {
  background-color: darkblue;
  transition: 700ms;
}

.searchField {
  display: flex;
  align-items: center;
}
